@charset "UTF-8";

/* Paleta de cores
    Azul: #9DC4E1
    Rosa: #F5B4DC
*/

*{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to bottom, #F5B4DC, #9DC4E1);
    height: 100vh;
    width: 100vw;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

section > div#img{
    display: block;
    background:#F5B4DC url(../imagens/flores.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left center;
}

div#form{
    display: block;
    padding: 10px;
}